.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  @media (max-width: 920px) {
    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
      flex: 2 46%;
    }
  }